.first{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:500px;
  width:500px;
  background: linear-gradient(to right ,rgb(46, 23, 23),rgb(118, 196, 118));
  margin-left: 400px;

  cursor: pointer;
}
.firstclicked{
  background-color: black;
}